<!-- _includes/scripts.html -->
<!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
<!-- {% comment %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endcomment %} -->
<script src="{{ site.baseurl }}/assets/javascripts/vendor/jquery.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/vendor/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
<!-- {% comment %} add all javascripts specified in the pages frontmatter "extra_js" parameter  {% endcomment %} -->
{%- for js in page.extra_js %}
<script src="{{ site.baseurl }}/assets/js/extra/{{ js }}"></script>
{%- endfor %}

<!-- End _includes/scripts.html -->
