/* GLOBAL STYLES
-------------------------------------------------- */

@import "bootstrap/vendor/_rfs.scss";

/* Placeholder in input fields  shall be more subtle*/

.form-control::-webkit-input-placeholder { /* Edge */
  opacity: 0.5;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.5;
}
.form-control::placeholder {
  opacity: 0.5;
}

/* Padding below the footer and lighter body text */

body {
  //padding-top: 3rem;
  padding-bottom: 3rem;

}
/* make copyright notice fly over the image */
.hero {
  position: relative;
  width:100%;
  height:auto;

  img {
    width:100%;
    height:auto;
    display: block;
  }
  .copyright {
    position: absolute;
    font-size: 0.75rem;
    bottom: 0;
    padding: 0rem 1rem;
    line-height: 2rem;
    color: white;
    background: rgba(0,0,0,.3);
  }
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar {
  border-top: 8px solid $SV-green;
  background-color: rgba($SV-complement-dark, 0.75);
}

//
// we need to offset the scroll anchor, so that  the navbar is not covering the text.
// see also https://stackoverflow.com/questions/49331572/offset-scroll-anchor-in-html-with-bootstrap-4-fixed-navbar/49331692
.shifted-anchor:before {
  display: block;
  height: 120px;   // equal to the navbar height
  margin-top: -120px;  // negative margin equal to the navbar height
  visibility: hidden;
  content: "";
}

/* an anchor to jump to when an entry in the contact-form is filled  not valid */
.SV-invalid-anchor {
  position: absolute;
  top: -64px; // push up by navbar height
  left: 0;
}


.teaser {
  font-style: italic;
  border-bottom-style: solid;
  border-bottom-color: $SV-green;// $gray-600;
  border-bottom-width: thin;
  margin-bottom:1rem;
}

.marketing {
  .teaser {
    font-style: normal;
    border-bottom-style: none;
  }

}

/*
         Specific to the form layout
*/
.lh-condensed {
  line-height: 1.25;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

// set the carousel-background image for small devices (landscape phones, 576px and smaller)
.carousel-item-background-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url($carousel-image-1-sm);
}
.carousel-item-background-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url($carousel-image-2-sm);
}
.carousel-item-background-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($carousel-image-3-sm);
}
.carousel-item-background-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($carousel-image-4-sm);
}

// set the carousel-background image for larger devices (landscape phones, 576px and larger)
@include media-breakpoint-up(sm) {

  .carousel-item-background-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url($carousel-image-1);
  }
  .carousel-item-background-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url($carousel-image-2);
  }
  .carousel-item-background-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($carousel-image-3);
  }
  .carousel-item-background-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url($carousel-image-4);
  }
}


/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;

  h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 6px black, 0 0 5em black, 0 0 0.2em black;
  }

  p {
    text-shadow: 1px 1px 3px black, 0 0 2em black, 0 0 0.2em black;
  }

  .btn {
    text-shadow: none;
  }
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
 // font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */



/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

//@media (min-width: 62em) {
//  .featurette-heading {
//    margin-top: 7rem;
//  }
//}

.nav-link {
  padding: .25rem 1rem ; //.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;

}

.active > .nav-link,
.nav-link.active {
  border-bottom-color: $SV-green;
}


.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

// the navigation bar (see _includes/navigation.html)
.navbar-brand-image {
  margin-left: 0;
  width: 2.75rem;
  height: 2.75rem;
  opacity: 100%
}

@include media-breakpoint-up(sm) {
  .navbar-brand-image {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
    opacity: 100%
  }
}

.navbar-brand {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}
